---
import HeroSection from '../components/HeroSection.astro';
import Navbar from '../components/Navbar.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tesla - Daniel Arbesú">
  <Navbar />
  <main
    class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Section
        title="Model Y"
        subtitle="Concertar una prueba de conducción"
        imgSrc="/model-y.avif"
        btnLeftText="Explorar Inventario"
        btnRightText="Pedido Personalizado"
      />
    </div>
    <div class="snap-center">
      <Section
        title="Model 3"
        subtitle="Concertar una prueba de conducción"
        imgSrc="/model-3.avif"
        btnLeftText="Explorar Inventario"
        btnRightText="Pedido Personalizado"
      />
    </div>
    <div class="snap-center">
      <Section
        title="Model S"
        subtitle="Programe una consulta virtual"
        imgSrc="/model-s.avif"
        btnLeftText="Pedido Personalizado"
        btnRightText="Saber más"
      />
    </div>
    <div class="snap-center">
      <Section
        title="Model X"
        subtitle="Programe una consulta virtual"
        imgSrc="/model-x.avif"
        btnLeftText="Pedido Personalizado"
        btnRightText="Saber más"
      />
    </div>
  </main>
</Layout>
