---
import CarSection from '../components/CarSection.astro';
import HeroSection from '../components/HeroSection.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tesla - Daniel Arbesú">
  <Navbar />
  <main
    class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <CarSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <CarSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
  </main>
</Layout>
