---
import Section from './SectionTemplate.astro';
---

<Section title="Accesorios" subtitle="" color="black" id="accesories">
  <div slot="footer" class="sm:w-[275px] mx-auto">
    <a
      class="w-full border-[3px] border-black bg-black text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors duration-300 hover:border-gray-800 hover:bg-gray-800"
      href="#"
    >
      Comprar ahora</a
    >
  </div>

  <img
    slot="background"
    alt="Accesorios"
    class="h-full w-full object-cover object-center"
    src="accessories.avif"
  />
</Section>
