---
import Section from './SectionTemplate.astro';
---

<Section title="Disfrute de tesla" color="white">
  <p slot="subtitle" class="text-sm">
    Programe una prueba de conducción hoy mismo
  </p>
  <div slot="footer" class="sm:w-[275px] mx-auto w-full">
    <a
      class="w-full text-white text-sm border-[3px] border-white backdrop-blur-md rounded font-medium px-2 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#">Prueba de conducción</a
    >
  </div>

  <video
    slot="background"
    class="object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/heroVideo.webm"></video>
</Section>
