---
import Section from './SectionTemplate.astro';
---

<Section title="Model Y" color="black" id="model-y">
  <a
    href="#"
    slot="subtitle"
    class="text-sm underline underline-offset-4 hover:decoration-2 transition ease-in-out delay-150 duration-300"
  >
    Concertar una prueba de conducción
  </a>
  <div
    slot="footer"
    class="flex sm:w-[550px] sm:gap-x-6 mx-auto flex-col sm:flex-row gap-4 w-full"
  >
    <a
      class="w-full text-white text-sm border-4 border-gray-800 bg-gray-800 rounded font-medium px-2 py-2 inline-block hover:bg-gray-700 hover:border-gray-700 transition-colors"
      href="#">Explorar inventario</a
    >
    <a
      class="w-full text-sm border-[3px] border-white bg-white rounded font-medium px-2 py-2 inline-block hover:bg-black hover:text-white hover:border-black transition-colors"
      href="#">Pedido personalizado</a
    >
  </div>

  <img
    slot="background"
    alt="Model Y"
    class="h-full w-full object-cover object-center"
    src="model-y.avif"
  />
</Section>
