---
import Section from './SectionTemplate.astro';
---

<Section title="Solar y Powerwall" color="black" id="powerwall">
  <p slot="subtitle" class="text-sm">Energía para todos</p>
  <div slot="footer" class="sm:w-[275px] mx-auto w-full">
    <a
      class="w-full border-[3px] border-gray-800 bg-gray-800 text-sm rounded font-medium text-white px-16 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Saber más</a
    >
  </div>

  <img
    slot="background"
    alt="Solar y Powerwall"
    class="h-full w-full object-cover object-center"
    src="powerwall.avif"
  />
</Section>
